<h3>
  Branch:
  <%= @branch.name %>
  <small class="pull-right btn">
    <%= link_to 'Edit', edit_branch_path(@branch) %> | <%= link_to 'Back', branches_path %>
  </small>
</h3>

<!-- Search Bar -->
<div class="navbar">
  <div class="navbar-inner">
    <%= form_tag(branch_path, method: :get, class: "navbar-search") do |f| %>
      <div class="input-append">
        <%= search_field_tag :search, params[:search], id: 'appendedInputButtons', class: 'span4', placeholder: 'Enter PLU' %>
        <%= submit_tag 'Search', name: nil, class: 'btn' %>
        <!-- <button class="btn" type="button">Search</button> -->
      </div>
    <% end %>
  </div>
</div>
<!-- End Search Bar -->

<table class="table table-striped">
  <colgroup>
    <col width="5%" />
    <col width="20%" />
    <col width="20%" />
    <col width="10%" />
    <col width="10%" />
    <col width="10%" />
  </colgroup>
  <thead>
    <tr>
      <th>Root PLU</th>
      <th>Style</th>
      <th>Colour</th>
      <th>Size</th>
      <th>Stock qty</th>
      <th>Min qty</th>
    </tr>
  </thead>
  <tbody>
    <% @stock.each do |item| %>
    <tr>
      <td><%= item.root_plu %></td>
      <td><%= item.style %></td>
      <td><%= item.colour_name %></td>
      <td><%= item.size_name %></td>
      <td><%= item.stock_quantity %></td>
      <td><%= item.min_stock_quantity %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @stock %>
<br>

